.background {
    height: 50vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    background-attachment: fixed;
}
#figure {
    width: 1000px;
    height: 10vh;
    position: relative;
    top: 100px;
    left: 500px;
    background-color: white;
}