/* Allgemeine Layout- und Farbgebung */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dunkler Hintergrund */
    color: #f5f5f5; /* Helle Schriftfarbe */
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* Navbar */
.navbar {
    background-color: #333;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    color: #ffffff !important;
    margin-right: 15px;
}

.navbar-nav .nav-link {
    color: #f1f1f1 !important;
  }
  .navbar-nav .nav-link:hover {
    color: #ffc107 !important;
  }

/* Hero Section */
.hero-section {
    padding: 80px 0;
    background-color: #1e1e1e; /* Einheitlicher dunkler Hintergrund */
    text-align: center;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #f5f5f5;
}

.hero-section p {
    font-size: 1.2rem;
    color: #e0e0e0;
}

/* Filter Section */
.filter-section {
    background-color: #1e1e1e;
    padding: 20px 0;
    border-radius: 8px;
    margin-top: 20px;
}

.filter-section h2 {
    color: #f5f5f5;
    font-size: 1.5rem;
}

.form-select, .btn-primary {
    border-radius: 5px;
    outline: none;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Job Listings */
.job-listings {
    flex: 1; /* Macht den Abschnitt flexibel, damit die Fußzeile unten bleibt */
    margin-top: 20px;
}

.job-listings .card {
    background-color: #2a2a2a; /* Dunkle Kartenfarbe */
    color: #ffffff;
    border-radius: 8px;
    transition: transform 0.3s;
}

.job-listings .card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.25rem;
    color: #ffffff;
}

.card-text {
    color: #cccccc;
}

.card .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.card .btn-outline-primary:hover {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
}

/* Footer */
footer {
    background-color: #333; /* Dunklere Fußzeile */
    padding: 15px 0;
    color: #cccccc;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Nachricht bei fehlenden Jobs */
#noJobsMessage {
    margin-top: 30px;
    font-size: 1.2em;
    color: #f5f5f5; /* Farbe der Nachricht */
}
